<h1>Welcome to URL Shortener</h1>
<%= form_with model: @link do |form| %>
    <label>Please enter your URL here</label>
    <br/>
    <%= form.url_field :long_url, :style => "width:500px; margin:10px 0px;", :required => true %>
    <%= form.submit "SHORTEN"%>  
<% end %>
<div id="error_message" style="color:red">
    
</div>   
<div id="short_url">
    
</div>
